{% extends 'base.html' %}

{% block title %}Просмотр{% endblock %}

{% block menu %}
    <li><a href="{% url 'webapp:post_update' post.pk %}"><i class="fas fa-edit"></i> Обновить пост</a></li>
    <li><a href="{% url 'webapp:post_delete' post.pk %}"><i class="fas fa-trash"></i> Удалить пост</a></li>
{% endblock %}
{% block content %}
    <br>
    <h3>Автор: {{ post.author }}</h3>
    <h4><a href="{{ post.link }}">{{ post.title }}</a></h4>
    <p>Дата публикации: {{ post.date_create }}</p>
    <p><i class="far fa-heart"></i> {{ post.vote_amount }}</p>
    <h3>Comments:</h3>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
        {% for comment in comments %}
            <div class="box">
                <h4>
                    <a href="{% url 'accounts:detail' comment.author_id %}">{{ comment.author }}</a>
                    ({{ comment.created_at }})
                </h4>
                <div class="pre">{{ comment.text }}</div>
                {% if perms.webapp.delete_comment or comment.author == request.user %}
                    <p><a href="{% url 'webapp:comment_delete' comment.pk %}">Delete</a></p>
                {% endif %}
            </div>
        {% empty %}
            <p>Нет комментариев</p>
        {% endfor %}
        <p><a href="{% url 'webapp:post_comment_add' post.pk %}" class="card-button">Написать комментарий</a></p>
        {% if is_paginated %}
            {% include 'partial/pagination.html' %}
        {% endif %}
{% endblock %}
